// https://flatuicolors.com/palette/defo

// COLORS

$color-black: #000;
$color-white: #fff;

$background-white: rgba($color-white, .9);

$box-shadow-main: 0 1rem 4rem rgba($color-black, .4);

$border-radius-main: 1%;